<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>列表渲染</title>
        <script type="text/javascript" src="js/vue.js"></script>
    </head>
    <body>
        <!--可以遍历集合、对象、字符串、数字-->
        <!--key强制使用数据唯一标识，避免默认数据下标导致出现不必要问题-->
       <div id="root">
            <ul>
                <li v-for="(person, index) in persons" v-bind:key="index">{{person.name}}--{{person.age}}--{{index}}</li>
            </ul>

            <ul>
                <li v-for="(e, index) in obj" v-bind:key="index">{{e}}--{{index}}</li>
            </ul>
       </div>
    </body>
    <script>
        new Vue({
            el: '#root',
            data: {
                persons: [
                    {name:'Daming',age: 22},
                    {name:'Lingling',age: 18},
                    {name:'David',age: 26},
                    {name:'Limei',age: 38}
                ],
                obj: {
                   length: 87,
                   width: 25,
                   weight: 92 
                }
            }
        })
    </script>
</html>